---
http_interactions:
- request:
    method: get
    uri: http://api.deezer.com/search/track?limit=1&q=artist:%22UB40%22%20album:%22The%20Very%20Best%20Of%22%20track:%22One%20in%20Ten%22&strict=on
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-06
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":3129575,"readable":true,"title":"One in Ten","title_short":"One
        in Ten","title_version":"","link":"http:\/\/www.deezer.com\/track\/3129575","duration":270,"rank":764568,"explicit_lyrics":false,"preview":"http:\/\/cdn-preview-a.deezer.com\/stream\/abe5cc11b8a676644d41c976470ce741-6.mp3","artist":{"id":165,"name":"UB40","link":"http:\/\/www.deezer.com\/artist\/165","picture":"http:\/\/api.deezer.com\/artist\/165\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/500x500-000000-80-0-0.jpg","tracklist":"http:\/\/api.deezer.com\/artist\/165\/top?limit=50","type":"artist"},"album":{"id":301763,"title":"The
        Very Best Of UB40","cover":"http:\/\/api.deezer.com\/album\/301763\/image","cover_small":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/56x56-000000-80-0-0.jpg","cover_medium":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/250x250-000000-80-0-0.jpg","cover_big":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/500x500-000000-80-0-0.jpg","tracklist":"http:\/\/api.deezer.com\/album\/301763\/tracks","type":"album"},"type":"track"},{"id":3167610,"readable":true,"title":"One
        in Ten","title_short":"One in Ten","title_version":"","link":"http:\/\/www.deezer.com\/track\/3167610","duration":270,"rank":604388,"explicit_lyrics":false,"preview":"http:\/\/cdn-preview-9.deezer.com\/stream\/95b7b871fc9a6f88d4916e2ccf02e8a8-6.mp[...]
