---
http_interactions:
- request:
    method: get
    uri: http://api.deezer.com/search/artist?limit=1&q=artist:%22UB40%22&strict=on
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-14
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":165,"name":"UB40","link":"http:\/\/www.deezer.com\/artist\/165","picture":"http:\/\/api.deezer.com\/artist\/165\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/500x500-000000-80-0-0.jpg","nb_album":54,"nb_fan":195355,"radio":true,"tracklist":"http:\/\/api.deezer.com\/artist\/165\/top?limit=50","type":"artist"},{"id":290089,"name":"Ub40
        And Chrissie Hynde","link":"http:\/\/www.deezer.com\/artist\/290089","picture":"http:\/\/api.deezer.com\/artist\/290089\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/\/500x500-000000-80-0-0.jpg","nb_album":0,"nb_fan":160,"radio":false,"tracklis[...]
