---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=artist:%22UB40%22&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=artist%3A%22UB40%22&offset=0&limit=1&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/69MEO1AADKg1IZrq2XLzo5"
              },
              "followers" : {
                "href" : null,
                "total" : 225918
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/69MEO1AADKg1IZrq2XLzo5",
              "id" : "69MEO1AADKg1IZrq2XLzo5",
              "images" : [ {
                "height" : 1420,
                "url" : "https://i.scdn.co/image/610f183c9b2f78b7ce2fe17c7501e4287869f457",
                "width" : 1000
              }, {
                "height" : 909,
                "url" : "https://i.scdn.co/image/a78ccaeb59704bce7f7d93155a89bfeaebe4ff0d",
                "width" : 640
              }, {
                "height" : 284,
                "url" : "https://i.scdn.co/image/9f318d1e29b276f3392498e9784ddde92bc3c149",
                "width" : 200
              }, {
                "height" : 91,
                "url" : "https://i.scdn.co/image/6b0e7ba60a075aad5bfa83e8a6f8065077055050",
                "width" : 64
              } ],
              "name" : "UB40",
              "popularity" : 69,
              "type" : "artist",
              "uri" : "spotify:artist:69MEO1AADKg1IZrq2XLzo5"
            } ],
            "limit" : 1,
            "next" : "https://api.spotify.com/v1/search?query=artist%3A%22UB40%22&offset=1&limit=1&type=artist",
            "offset" : 0,
            "previous" : null,
            "total" : 5
          }
        }
  recorded_at: Sun, 11 Oct 2015 19:30:52 GMT
recorded_with: VCR 2.9.3
