---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/search?country=nl&entity=musicArtist&limit=1&media=music&term=UB40
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - A3AZEJTF5AWT4JTQNFKSY3Q2AY
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?term=UB40&country=nl&media=music&entity=musicArtist&limit=1&urlDesc="
      X-Apple-Orig-Url:
      - https://itunes.apple.com/search?term=UB40&country=nl&media=music&entity=musicArtist&limit=1
      X-Apple-Application-Site:
      - NWK
      Apple-Timing-App:
      - 40 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '1001328'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.220/80/search/browser/https?country=nl&entity=musicArtist&limit=1&media=music&term=UB40"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: |2+



        {
         "resultCount":1,
         "results": [
        {"wrapperType":"artist", "artistType":"Artist", "artistName":"UB40", "artistLinkUrl":"https://itunes.apple.com/nl/artist/ub40/id524856?uo=4", "artistId":524856, "amgArtistId":5724, "primaryGenreName":"Reggae", "primaryGenreId":24}]
        }


  recorded_at: Sun, 11 Oct 2015 18:24:30 GMT
recorded_with: VCR 2.9.3
