---
http_interactions:
- request:
    method: post
    uri: https://services.rdio.com/api/1
    body:
      encoding: UTF-8
      string: query=Disclosure%20%20&types=artist&method=search&access_token=AAAAAWEAAAAA_____wAAAABWIiP7ViLMuwAAABpjY29uM3p3MmdqZTN2ZnRoNXc0cWE1aTQ2ZaTAt55-aelNW-qkfZl0JcV4fYMtBO2Lww8thA3PyQ1G
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Srv:
      - srv-211-08
      Content-Language:
      - en
      X-Rdio-Api-Version:
      - '0'
      X-Version:
      - '720'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "result": {"artist_count": 40, "number_results": 40,
        "results": [{"name": "Disclosure", "baseIcon": "artist/no-artist-image-square.png",
        "hasRadio": true, "url": "/artist/Disclosure/", "topSongsKey": "tr794501",
        "shortUrl": "http://rd.io/x/Qi1OQMY/", "length": 176, "key": "r794501", "radioKey":
        "rr794501", "dynamicIcon": "http://rdiodynimages2-a.akamaihd.net/?l=a3030339-3%3Bboxblur%2810%25%2C10%25%29%3Bcolorize%28rgba%280.2%2C0.2%2C0.2%2C0.65%29%29%3Boverlay%28album/station/background/shadow.png%29%3Br794501%21bandpage%3Around%28100%25%29%3Bpad%2850%25%29%3B%243%3Aoverlay%28%245%29",
        "type": "r", "icon": "http://rdio3img-a.akamaihd.net/artist/no-artist-image-square.png"},
        {"name": "Disclosure featuring Sam Smith", "baseIcon": "artist/no-artist-image-square.png",
        "hasRadio": true, "url": "/artist/Disclosure_featuring_Sam_Smith/", "shortUrl":
        "http://rd.io/x/Qi1t5U0/", "length": 1, "key": "r3127822", "radioKey": "rr3127822",
        "dynamicIcon": "http://rdiodynimages2-a.akamaihd.net/?l=a3420135-1%3Bboxblur%2810%25%2C10%25%29%3Bcolorize%28rgba%280.2%2C0.2%2C0.2%2C0.65%29%[...]
