---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=Daft%20Punk%20-%20Harder%20Better%20Faster%20Stronger&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Daft+Punk+-+Harder+Better+Faster+Stronger&offset=0&limit=1&type=track",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0A88p2r8PWnWGvWjzAnUrV"
                },
                "href" : "https://api.spotify.com/v1/albums/0A88p2r8PWnWGvWjzAnUrV",
                "id" : "0A88p2r8PWnWGvWjzAnUrV",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/1cf36e91ba044533c9a15b694514c0eabb9d3e91",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/0a3dfc0b24ccde21f011144a57173c9d496ab397",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/76379e9eb1d8a306df352bcd7e1dd7b71f6e9f81",
                  "width" : 64
                } ],
                "name" : "harder better faster stronger",
                "type" : "album",
                "uri" : "spotify:album:0A88p2r8PWnWGvWjzAnUrV"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"
                },
                "href" : "https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi",
                "id" : "4tZwfgrHOc3mvqYlEYSvVi",
                "name" : "Daft Punk",
                "type" : "artist",
                "uri" : "spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
              "disc_number" : 1,
              "duration_ms" : 226413,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "GBDUW0000059"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/2cJz1loJp5EZM6shmQpLZN"
              },
              "href" : "https://api.spotify.com/v1/tracks/2cJz1loJp5EZM6shmQpLZN",
              "id" : "2cJz1loJp5EZM6shmQpLZN",
              "name" : "Harder Better Faster Stronger",
              "popularity" : 60,
              "preview_url" : "https://p.scdn.co/mp3-preview/764669c4a1799782b44c9e31f814da31f0911a5f",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:2cJz1loJp5EZM6shmQpLZN"
            } ],
            "limit" : 1,
            "next" : "https://api.spotify.com/v1/search?query=Daft+Punk+-+Harder+Better+Faster+Stronger&offset=1&limit=1&type=track",
            "offset" : 0,
            "previous" : null,
            "total" : 28
          }
        }
  recorded_at: Wed, 04 Nov 2015 20:47:14 GMT
recorded_with: VCR 2.9.3
