---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/1FNZq0NV4yymW1wEjIi2eY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/3wAdN3V06Btox7NjFfBKRC"
            },
            "href" : "https://api.spotify.com/v1/albums/3wAdN3V06Btox7NjFfBKRC",
            "id" : "3wAdN3V06Btox7NjFfBKRC",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/8138fd0f45dbc8a12bed53560e8c5b3a20925043",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/6abc94370cf84640cc9ba1810ab3bdfced43d719",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/1dba636df90bbfcdc9c82ca7664c1cd3bfdbf5c9",
              "width" : 64
            } ],
            "name" : "Death Magnetic",
            "type" : "album",
            "uri" : "spotify:album:3wAdN3V06Btox7NjFfBKRC"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB"
            },
            "href" : "https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB",
            "id" : "2ye2Wgw4gimLv2eAKyk1NB",
            "name" : "Metallica",
            "type" : "artist",
            "uri" : "spotify:artist:2ye2Wgw4gimLv2eAKyk1NB"
          } ],
          "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
          "disc_number" : 1,
          "duration_ms" : 428320,
          "explicit" : false,
          "external_ids" : {
            "isrc" : "USWB10805463"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/1FNZq0NV4yymW1wEjIi2eY"
          },
          "href" : "https://api.spotify.com/v1/tracks/1FNZq0NV4yymW1wEjIi2eY",
          "id" : "1FNZq0NV4yymW1wEjIi2eY",
          "name" : "That Was Just Your Life",
          "popularity" : 55,
          "preview_url" : "https://p.scdn.co/mp3-preview/a1a0fa0cd16919b7e121146f08bd6710904c7851",
          "track_number" : 1,
          "type" : "track",
          "uri" : "spotify:track:1FNZq0NV4yymW1wEjIi2eY"
        }
  recorded_at: Sun, 11 Oct 2015 19:30:53 GMT
[...]
