---
http_interactions:
- request:
    method: get
    uri: http://api.deezer.com//artist/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-46
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":119,"name":"Metallica","link":"http:\/\/www.deezer.com\/artist\/119","share":"http:\/\/www.deezer.com\/artist\/119?utm_source=deezer&utm_content=artist-119&utm_term=0_1444587778&utm_medium=web","picture":"http:\/\/api.deezer.com\/artist\/119\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/717903ee88ebff55146f95c9492f08a4\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/717903ee88ebff55146f95c9492f08a4\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/717903ee88ebff55146f95c9492f08a4\/500x500-000000-80-0-0.jpg","nb_album":4,"nb_fan":2324202,"radio":true,"tracklist":"http:\/\/api.deezer.com\/artist\/119\/top?limit=50","type":"artist"}'
  recorded_at: Sun, 11 Oct 2015 18:22:58 GMT
recorded_with: VCR 2.9.3
