---
http_interactions:
- request:
    method: get
    uri: http://api.deezer.com//album/9426892
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-46
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":9426892,"title":"Backstage Passport Soundtrack","upc":"751097075524","link":"http:\/\/www.deezer.com\/album\/9426892","share":"http:\/\/www.deezer.com\/album\/9426892?utm_source=deezer&utm_content=album-9426892&utm_term=0_1444587777&utm_medium=web","cover":"http:\/\/api.deezer.com\/album\/9426892\/image","cover_small":"http:\/\/cdn-images.deezer.com\/images\/cover\/a00479b0d1b812ee47217e0d532d5969\/56x56-000000-80-0-0.jpg","cover_medium":"http:\/\/cdn-images.deezer.com\/images\/cover\/a00479b0d1b812ee47217e0d532d5969\/250x250-000000-80-0-0.jpg","cover_big":"http:\/\/cdn-images.deezer.com\/images\/cover\/a00479b0d1b812ee47217e0d532d5969\/500x500-000000-80-0-0.jpg","genre_id":85,"genres":{"data":[{"id":85,"name":"Alternative","picture":"http:\/\/api.deezer.com\/genre\/85\/image","type":"genre"},{"id":87,"name":"Indie
        Rock","picture":"http:\/\/api.deezer.com\/genre\/87\/image","type":"genre"}]},"label":"Fat
        Wreck Chords","nb_tracks":15,"duration":2003,"fans":1047,"rating":0,"release_date":"2014-12-09","record_type":"album","available":true,"tracklist":"http:\/\/api.deezer.com\/album\/9426892\/tracks","explicit_lyrics":false,"contributors":[{"id":941,"name":"NOFX","link":"http:\/\/www.deezer.com\/artist\/941","share":"http:\/\/www.deezer.com\/artist\/941?utm_source=deezer&utm_content=artist-941&utm_term=0_1444587777&utm_medium=web","picture":"http:\/\/api.deezer.com\/artist\/941\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/500x500-000000-80-0-0.jpg","radio":true,"tracklist":"http:\/\/api.deezer.com\/artist\/941\/top?limit=50","type":"artist","role":"Main"}],"artist":{"id":941,"name":"NOFX","picture":"http:\/\/api.deezer.com\/artist\/941\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/048d704a1e558691375931f87322f7a3\/500x500-000000-80-0-0.jpg","tracklist":"http:\/\/api.deezer.com\/artist\/941\/top?limit=50","type":"artist"},"type":"album","tracks":{"data":[{"id":92876024,"readable":true,"title":"Backstage
        Passport","title_short":"Backstage Passport","title_version":"","link":"http:\/\/www.deezer.com\/track\/92876024","duration":96,"rank":558045,"explicit_lyrics":false,"preview":"http:\/\/cdn-preview-7.deezer.com\/stream\/797dd1df9c204cd9f2cbc27525f7a327-2.mp3","artist":{"id":941,"name":"NOFX","tracklist":"http:\/\/api.deezer.com\/artist\/941\/top?limit=50","type":"artist"},"type":"track"},{"id":92876026,"readable":true,"title":"No
        Fun in Fundamentalism","title_short":"No Fun in Fundamentalism","title_version":"","link":"http:\/\/www.deezer.com\/track\/92876026","duration":111,"rank":552907,"explicit_lyrics":false,"preview":"http:\/\/cdn-preview-1.deezer.com\/st[...]
