---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users?client_id=0b22e56042d2777e154029484104ab9c&format=json&q=Gelka%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"playlist_count":5,"track_count":53,"subscriptions":[{"product":{"id":"creator-pro-unlimited","name":"Pro
        Unlimited"}}],"first_name":"","last_name":"","full_name":"","city":"Budapest","description":"New
        track in every Monday till the end of November. \n\nNew Mixtape \nhttps://www.mixcloud.com/gelka/gelka-feat-phoenix-pearle-white-lights-mixtape/\n\n\nBudapest
        based emotional electronic music band\nCaf\u00E9 del Mar & former Wax On Records
        artist. \n\nMembers: \nS\u00E1ndor D\u00F6m\u00F6t\u00F6r \nCsaba K\u00FCrti
        \n","followers_count":4230,"country":null,"public_favorites_count":2115,"followings_count":854,"plan":"Pro
        Unlimited","myspace_name":null,"discogs_name":null,"website_title":"Bandcamp","website":"https://gelkasound.bandcamp.com/album/million-nights-ep","reposts_count":null,"comments_count":null,"online":false,"likes_count":null,"avatar_url":"https://i1.sndcdn.com/avatars-000144401641-bbxfha-large.jpg","id":263922,"kind":"user","permalink_url":"http://soundcloud.com/gelka","uri":"https://api.soundcloud.com/users/263922","username":"gelka","permalink":"gelka","last_modified":"2015/10/20
        15:49:41 +0000"},{"playlist_count":0,"track_count":0,"subscriptions":[{"product":{"id":"free","name":"Free"}}],"first_name":"Gelka","last_name":"Tellez
        Torres","full_name":"Gelka Tellez Torres","city":null,"description":null,"followers_count":5,"country":null,"public_favorites_count":0,"followings_count":16,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"reposts_count":null,"comments_count":null,"online":false,"likes_count":n[...]
