---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks?client_id=0b22e56042d2777e154029484104ab9c&format=json&q=Gelka%20Gelka%20feat%20Mozez%20-%20Spell%20I%27m%20In%20(forthcoming)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"download_url":null,"key_signature":"","user_favorite":false,"likes_count":56,"release":"","attachments_uri":"https://api.soundcloud.com/tracks/229066751/attachments","waveform_url":"https://w1.sndcdn.com/6TCsGNkNV6C1_m.png","purchase_url":"https://gelkasound.bandcamp.com/album/stardust-memories","video_url":null,"streamable":true,"artwork_url":"https://i1.sndcdn.com/artworks-000133205905-ektm24-large.jpg","comment_count":6,"commentable":true,"description":"taken
        from our forthcoming album \"Stardust Memories\"\n\ngelkasound.bandcamp.com/album/stardust-memories\n\nwww.mixcloud.com/gelka/\nwww.facebook.com/gelkahu\ntwitter.com/GELKA\n\nhttps://soundcloud.com/mozez\nhttp://www.facebook.com/MozezMusic\nhttps://twitter.com/Mozezofficial\n\n\nstem
        mastering: \n@anorganik-mastering\nfb.com/anorganik.mastering","download_count":0,"downloadable":false,"embeddable_by":"all","favoritings_count":56,"genre":"downtempo","isrc":null,"label_id":null,"label_name":"Gelka
        Sound","license":"all-rights-reserved","original_content_size":4593479,"original_format":"mp3","playback_count":1018,"purchase_title":null,"release_day":30,"release_month":11,"release_year":2015,"reposts_count":14,"state":"finished","tag_list":"\"chill
        out\" pop mozez gelka","track_type":null,"user":{"avatar_url":"https://i1.sndcdn.com/avatars-000144401641-bbxfha-large.jpg","id":263922,"kind":"user","permalink_url":"http://soundcloud.com/gelka","uri":"https://api.soundcloud.com/users/263922","username":"gelka","permalink":"gelka","last_modified":"2015/10/20
        15:49:41 +0000"},"bpm":null,"user_playback_count":null,"id":229066751,"kind":"track","created_at":"2015/10/19
        09:55:26 +0000","last_modified":"2015/10/19 09:55:34 +0000","permalink":"gelka-feat-mozez-spell-im-in-forthcoming","permalink_url":"https://soundcloud.com/gelka/gelka-feat-mozez-spell-im-in-forthcoming","title":"Gelka
        feat Mozez - Spell I''m In (forthcoming)","duration":229662,"sharing":"public","stream_url":"https://api.soundcloud.com/tracks/229066751/stream","uri":"https://api.soundcloud.com/tracks/229066751","user_id":263922,"policy":"ALLOW","monetization_model":"NOT_APPLICABLE"}]'
  recorded_at: Thu, 29 Oct 2015 12:24:18 GMT
recorded_with: VCR 2.9.3
