---
http_interactions:
- request:
    method: get
    uri: http://api.deezer.com//track/3129575
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":3129575,"readable":true,"title":"One in Ten","title_short":"One
        in Ten","title_version":"","isrc":"GBAAA8100344","link":"http:\/\/www.deezer.com\/track\/3129575","share":"http:\/\/www.deezer.com\/track\/3129575?utm_source=deezer&utm_content=track-3129575&utm_term=0_1445095523&utm_medium=web","duration":270,"track_position":8,"disk_number":1,"rank":764568,"release_date":"2003-03-01","explicit_lyrics":false,"preview":"http:\/\/cdn-preview-a.deezer.com\/stream\/abe5cc11b8a676644d41c976470ce741-6.mp3","bpm":126,"gain":-11.3,"available_countries":["AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BR","BS","BT","BV","BW","BY","BZ","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GM","GN","GP","GQ","GR","GS","GT","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MN","MO","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PN","PR","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UY","UZ","VC","VE","VG","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"],"contributors":[{"id":165,"name":"UB40","link":"http:\/\/www.deezer.com\/artist\/165","share":"http:\/\/www.deezer.com\/artist\/165?utm_source=deezer&utm_content=artist-165&utm_term=0_1445095523&utm_medium=web","picture":"http:\/\/api.deezer.com\/artist\/165\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/500x500-000000-80-0-0.jpg","radio":true,"tracklist":"http:\/\/api.deezer.com\/artist\/165\/top?limit=50","type":"artist","role":"Main"}],"artist":{"id":165,"name":"UB40","link":"http:\/\/www.deezer.com\/artist\/165","share":"http:\/\/www.deezer.com\/artist\/165?utm_source=deezer&utm_content=artist-165&utm_term=0_1445095523&utm_medium=web","picture":"http:\/\/api.deezer.com\/artist\/165\/image","picture_small":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/56x56-000000-80-0-0.jpg","picture_medium":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/250x250-000000-80-0-0.jpg","picture_big":"http:\/\/cdn-images.deezer.com\/images\/artist\/55b1ce1d28bc47ac4fbab082e110f9a4\/500x500-000000-80-0-0.jpg","radio":true,"tracklist":"http:\/\/api.deezer.com\/artist\/165\/top?limit=50","type":"artist"},"album":{"id":301763,"title":"The
        Very Best Of UB40","link":"http:\/\/www.deezer.com\/album\/301763","cover":"http:\/\/api.deezer.com\/album\/301763\/image","cover_small":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/56x56-000000-80-0-0.jpg","cover_medium":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/250x250-000000-80-0-0.jpg","cover_big":"http:\/\/cdn-images.deezer.com\/images\/cover\/ba1ee8b4130e3c0e2606dfe365312dab\/500x500-000000-80-0-0.jpg","release_date":"2003-03-01","tracklist":"http:\/\/api.deezer.com\/album\/301763\/tracks","type":"album"},"type":"track"}'
  recorded_at: Sat, 17 Oct 2015 15:25:23 GMT
- request:
    method: get
    uri: https://itunes.apple.com/search?country=us&entity=song&limit=1&media=music&term=UB40%20-%20The%20Very%20Best%20Of%20UB40%20-%20One%20in%20Ten
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 522HVROLWN4QVW5Q26BDOUHD44
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?term=UB40%20-%20The%20Very%20Best%20Of%20UB40%20-%20One%20in%20Ten&country=us&media=music&entity=song&limit=1&urlDesc="
      X-Apple-Orig-Url:
      - https://itunes.apple.com/search?term=UB40%20-%20The%20Very%20Best%20Of%20UB40%20-%20One%20in%20Ten&country=us&media=music&entity=song&limit=1
      X-Apple-Application-Site:
      - NWK
      Apple-Timing-App:
      - 76 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '1000797'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.217/80/search/browser/https?country=us&entity=song&limit=1&media=music&term=UB40%20-%20The%20Very%20Best%20Of%20UB40%20-%20One%20in%20Ten"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: |2+



        {
         "resultCount":1,
         "results": [
        {"wrapperType":"track", "kind":"song", "artistId":524856, "collectionId":723424221, "trackId":723424237, "artistName":"UB40", "collectionName":"The Very Best Of", "trackName":"One in Ten", "collectionCensoredName":"The Very Best Of", "trackCensoredName":"One in Ten", "artistViewUrl":"https://itunes.apple.com/us/artist/ub40/id524856?uo=4", "collectionViewUrl":"https://itunes.apple.com/us/album/one-in-ten/id723424221?i=723424237&uo=4", "trackViewUrl":"https://itunes.apple.com/us/album/one-in-ten/id723424221?i=723424237&uo=4", "previewUrl":"http://a935.phobos.apple.com/us/r30/Music/v4/f1/4f/52/f14f52f4-d3b8-a22a-7726-8dea74c43919/mzaf_6249568249089927986.plus.aac.p.m4a", "artworkUrl30":"http://is2.mzstatic.com/image/thumb/Music6/v4/ec/4f/2a/ec4f2a46-7cf3-2a8c-417e-04e26c5675f7/00724385052552.jpg/30x30bb-85.jpg", "artworkUrl60":"http://is4.mzstatic.com/image/thumb/Music6/v4/ec/4f/2a/ec4f2a46-7cf3-2a8c-417e-04e26c5675f7/00724385052552.jpg/60x60bb-85.jpg", "artworkUrl100":"http://is5.mzstatic.com/image/thumb/Music6/v4/ec/4f/2a/ec4f2a46-7cf3-2a8c-417e-04e26c5675f7/00724385052552.jpg/100x100bb-85.jpg", "collectionPrice":6.99, "trackPrice":1.29, "releaseDate":"2000-11-09T08:00:00Z", "collectionExplicitness":"notExplicit", "trackExplicitness":"notExplicit", "discCount":1, "discNumber":1, "trackCount":18, "trackNumber":4, "trackTimeMillis":273133, "country":"USA", "currency":"USD", "primaryGenreName":"Rock", "radioStationUrl":"https://itunes.apple.com/station/idra.723424237", "isStreamable":true}]
        }


  recorded_at: Sat, 17 Oct 2015 15:25:24 GMT
recorded_with: VCR 2.9.3
