---
http_interactions:
- request:
    method: post
    uri: https://services.rdio.com/api/1
    body:
      encoding: UTF-8
      string: url=%2Fartist%2FDisclosure%2Falbum%2FCaracal_%28Deluxe%29%2F&method=getObjectFromUrl&access_token=AAAAAWEAAAAA_____wAAAABWIiP7ViLMuwAAABpjY29uM3p3MmdqZTN2ZnRoNXc0cWE1aTQ2ZaTAt55-aelNW-qkfZl0JcV4fYMtBO2Lww8thA3PyQ1G
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Srv:
      - srv-111-07
      Content-Language:
      - en
      X-Rdio-Api-Version:
      - '0'
      X-Version:
      - '720'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "ok", "result": {"baseIcon": "album/0/4/a/00000000005e1a40/3/square-200.jpg",
        "releaseDate": "2015-09-25", "artistUrl": "/artist/Disclosure/", "duration":
        4039, "dynamicIcon": "http://rdiodynimages3-a.akamaihd.net/?l=a6167104-3",
        "isClean": false, "shortUrl": "http://rd.io/x/Qj4cRQM/", "canStream": true,
        "embedUrl": "https://rd.io/e/Qj4cRQM/", "type": "a", "price": null, "key":
        "a6167104", "icon": "http://rdio3img-a.akamaihd.net/album/0/4/a/00000000005e1a40/3/square-200.jpg",
        "canSample": true, "name": "Caracal (Deluxe)", "isExplicit": false, "artist":
        "Disclosure", "url": "/artist/Disclosure/album/Caracal_(Deluxe)/", "artistKey":
        "r794501", "length": 14, "trackKeys": ["t69195415", "t69195416", "t69195417",
        "t69195418", "t69195419", "t69195420", "t69195421", "t69195422", "t69195423",
        "t69195424", "t69195425", "t69195426", "t69195427", "t69195428"], "canTether":
        true, "displayDate": "Sep 25, 2015"}}'
  recorded_at: Sat, 17 Oct 2015 10:33:45 GMT
recorded_with: VCR 2.9.3
