---
http_interactions:
- request:
    method: post
    uri: https://services.rdio.com/api/1
    body:
      encoding: UTF-8
      string: url=%2Fartist%2FDisclosure%2Falbum%2FCaracal_%28Deluxe%29%2Ftrack%2FHourglass%2F&method=getObjectFromUrl&access_token=AAAAAWEAAAAA_____wAAAABWIiP7ViLMuwAAABpjY29uM3p3MmdqZTN2ZnRoNXc0cWE1aTQ2ZaTAt55-aelNW-qkfZl0JcV4fYMtBO2Lww8thA3PyQ1G
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Srv:
      - srv-210-26
      Content-Language:
      - en
      X-Rdio-Api-Version:
      - '0'
      X-Version:
      - '720'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "ok", "result": {"radioKey": "sr69195418", "baseIcon": "album/0/4/a/00000000005e1a40/3/square-200.jpg",
        "canDownloadAlbumOnly": false, "radio": {"type": "sr", "key": "sr69195418"},
        "artistUrl": "/artist/Disclosure/", "duration": 324, "dynamicIcon": "http://rdiodynimages3-a.akamaihd.net/?l=a6167104-3",
        "album": "Caracal (Deluxe)", "isClean": false, "albumUrl": "/artist/Disclosure/album/Caracal_(Deluxe)/",
        "shortUrl": "http://rd.io/x/QitGQJXF/", "albumArtist": "Disclosure", "canStream":
        true, "embedUrl": "https://rd.io/e/QitGQJXF/", "type": "t", "gridIcon": "http://rdiodynimages2-a.akamaihd.net/?l=a6167104-3%3Aboxblur%2810%25%2C10%25%29%3Ba6167104-3%3Aprimary%280.65%29%3B%240%3Aoverlay%28%241%29%3Ba6167104-3%3Apad%2850%25%29%3B%242%3Aoverlay%28%243%29",
        "price": null, "trackNum": 4, "albumArtistKey": "r794501", "key": "t69195418",
        "icon": "http://rdio3img-a.akamaihd.net/album/0/4/a/00000000005e1a40/3/square-200.jpg",
        "canSample": true, "name": "Hourglass", "isExplicit": false, "artist": "Disclosure",
        "url": "/artist/Disclosure/album/Caracal_(Deluxe)/track/Hourglass/", "icon400":
        "http://rdio1img-a.akamaihd.net/album/0/4/a/00000000005e1a40/3/square-400.jpg",
        "artistKey": "r794501", "canDownload": false, "length": 1, "canTether": true,
        "albumKey": "a6167104"}}'
  recorded_at: Sat, 17 Oct 2015 10:33:44 GMT
recorded_with: VCR 2.9.3
